<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Destination</h5>
          <p>
            <strong>ID</strong>: {{destination.id}}</p>
                      <p>
            <strong>Name</strong>: {{destination.name}}</p>
          <p>
          <p>
            <strong>City</strong>: {{destination.city}}</p>
          <p>
            <strong>About:</strong> {{destination.about}}</p>
            <img src="{{destination.url}}" height="300px" width="500px" alt="{{destination.city}}">
          <p><a href="/">← Back To Home</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
